.div-noise-check {
  padding-top: 200px;
  font-size: 30px;
  font-family: "Nanum Gothic";
  text-align: center;
}

.div-check-db {
  margin-left: 100px;
  margin-bottom: 100px;
}

.check-db {
  width: 800px;
  margin-top: 60px;
  margin-left: 210px;
}
